In [15]:
-- Create a new database called 'electronicsDB'
-- Connect to the 'master' database to run this snippet
USE master

-- Create the new database if it does not exist already
IF NOT EXISTS (
    SELECT [name]
        FROM sys.databases
        WHERE [name] = N'electronicsDB'
)
CREATE DATABASE electronicsDB

USE electronicsDB


-- Create a new table called '[Product]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[Product]', 'U') IS NOT NULL
DROP TABLE [dbo].[Product]

-- Create the table in the specified schema
CREATE TABLE [dbo].[Product]
(
    [maker] NVARCHAR(50) NOT NULL,
    [model] NVARCHAR(50) NOT NULL,
    [type]  NVARCHAR(50) NOT NULL
    -- Specify more columns here
);


-- Create a new table called '[PC]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[PC]', 'U') IS NOT NULL
DROP TABLE [dbo].[PC]

-- Create the table in the specified schema
CREATE TABLE [dbo].[PC]
(
    [model] NVARCHAR(50) NOT NULL,
    [speed] INTEGER,
    [ram] INTEGER,
    [hd] INTEGER,
    [price] DECIMAL
    -- Specify more columns here
);


-- Create a new table called '[Laptop]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[Laptop]', 'U') IS NOT NULL
DROP TABLE [dbo].[Laptop]

-- Create the table in the specified schema
CREATE TABLE [dbo].[Laptop]
(
    [speed] INTEGER,
    [ram] INTEGER,
    [hd] INTEGER,
    [screen] NVARCHAR(50),
    [price] DECIMAL
    -- Specify more columns here
);


-- Create a new table called '[Printer]' in schema '[dbo]'
-- Drop the table if it already exists
IF OBJECT_ID('[dbo].[Printer]', 'U') IS NOT NULL
DROP TABLE [dbo].[Printer]

-- Create the table in the specified schema
CREATE TABLE [dbo].[Printer]
(
    [model] NVARCHAR(50) NOT NULL,
    [color] NVARCHAR(50) NOT NULL,
    [type] NVARCHAR(50) NOT NULL,
    [price] DECIMAL
    -- Specify more columns here
);
GO

In [16]:
USE electronicsDB;
ALTER TABLE Printer DROP COLUMN color;
GO

ALTER TABLE Laptop ADD od VARCHAR(50) DEFAULT 'none';